* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf'); 
} /* fonte baixada no arquivo/importando*/

[wm-flappy] /*área do jogo*/ {
    position: relative;
    border: 5px solid dodgerblue;
    width: 1200px;
    height: 700px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden; /*qualquer elemento que ultrapasse a div não aparece*/
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px); /*tamanho dos birds*/
    bottom: 50%;
}

.par-de-barreiras {
    position: absolute;
    top: 0%;
    height: 100%;
    display: flex;
    flex-direction: column; /*vai ser localizado nas colunas*/
    justify-content: space-between; 
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}